body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --developer-body-regular-400: Inter;
  --font-public-sans: "Public Sans";
  --mono-body-small-400: "JetBrains Mono";
  --font-josefin-sans: "Josefin Sans";
  --font-hind-guntur: "Hind Guntur";
  --font-urbanist: Urbanist;
  --font-poppins: Poppins;
  --font-source-serif-pro: "Source Serif Pro";
  --body-regular-500: "Work Sans";
  --font-inknut-antiqua: "Inknut Antiqua";
  --font-roboto: Roboto;
  --font-manrope: Manrope;
  --font-ibm-plex-mono: "IBM Plex Mono";
  --font-ibm-plex-sans: "IBM Plex Sans";
  --font-plus-jakarta-sans: "Plus Jakarta Sans";
  --font-outfit: Outfit;

  /* font sizes */
  --mono-body-regular-400-size: 16px;
  --mono-body-small-400-size: 14px;
  --font-size-5xl: 24px;
  --font-size-lgi: 19px;
  --font-size-base-4: 15.4px;
  --font-size-base-1: 15.1px;
  --font-size-4xl-4: 23.4px;
  --font-size-36xl: 55px;
  --font-size-14xl: 33px;
  --font-size-25xl: 44px;
  --font-size-xl: 20px;
  --mono-heading-01-700-size: 48px;
  --developer-heading-04-size: 32px;
  --font-size-7xl: 26px;
  --body-large-400-size: 18px;
  --font-size-9xl: 28px;
  --font-size-3xl: 22px;
  --font-size-2xl: 21px;
  --font-size-xs: 12px;
  --font-size-41xl: 60px;
  --font-size-17xl: 36px;
  --font-size-21xl: 40px;
  --font-size-61xl: 80px;

  /* Colors */
  --gray-white: #fff;
  --gray-500: #5e6971;
  --gray-600: #556070;
  --color-dimgray-100: #535353;
  --color-red-100: #f51202;
  --color-red-200: rgba(245, 18, 2, 0.1);
  --gray-100: #e6e8eb;
  --color-blue: #0000ff;
  --color-black: #000;
  --color-gray-100: #262626;
  --color-gray-200: #282323;
  --gray-900: #132238;
  --color-gray-300: #1d1e20;
  --dark: #1d1d1d;
  --colors-text-color: #1a1a1a;
  --color-gray-400: #141313;
  --gray-9001: #121314;
  --color-gray-500: #09090b;
  --color-gray-600: rgba(0, 0, 0, 0.7);
  --color-gray-700: rgba(0, 0, 0, 0.6);
  --color-gray-800: rgba(0, 0, 0, 0.08);
  --color-gray-900: rgba(255, 255, 255, 0.12);
  --gray-700: #424e60;
  --color-darkslategray-100: #243a5a;
  --doctor-500: #ffd81a;
  --gray-200: #c3c7ce;
  --color-silver-100: #c4c4c4;
  --color-mistyrose-100: #fee7e6;
  --color-mistyrose-200: #ffd8d6;
  --color-mistyrose-300: #eececb;
  --color-lavender: #dde5f4;
  --color-lavenderblush: #fff0f0;
  --color-darkslateblue: #473082;
  --color-whitesmoke-100: #f6f6f6;
  --color-whitesmoke-200: rgba(243, 243, 243, 0.5);
  --color-orangered: #d61209;
  --gray-5001: #697484;
  --color-midnightblue-100: #021a5f;
  --color-midnightblue-200: rgba(5, 14, 62, 0.85);
  --color-lightslategray: #8e8ea0;
  --color-brown: #9c261e;
  --color-limegreen: #0fbe21;

  /* Gaps */
  --gap-10xl: 29px;
  --gap-39xl: 58px;
  --gap-xl: 20px;
  --gap-mid: 17px;
  --gap-lg: 18px;
  --gap-17xl: 36px;
  --gap-2xl: 21px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-mini: 15px;
  --gap-5xl: 24px;
  --gap-xs: 12px;
  --gap-7xs: 6px;
  --gap-sm: 14px;
  --gap-9xl: 28px;
  --gap-4xs: 9px;
  --gap-16xl: 35px;
  --gap-7xl: 26px;
  --gap-6xs-9: 6.9px;
  --gap-base: 16px;
  --gap-13xl: 32px;
  --gap-smi: 13px;
  --gap-9xs: 4px;
  --gap-6xl: 25px;
  --gap-46xl: 65px;
  --gap-4xl: 23px;
  --gap-5xl-1: 24.1px;

  /* Paddings */
  --padding-9xl: 28px;
  --padding-base: 16px;
  --padding-17xl: 36px;
  --padding-52xl: 71px;
  --padding-16xl: 35px;
  --padding-10xs: 3px;
  --padding-sm: 14px;
  --padding-4xl: 23px;
  --padding-19xl: 38px;
  --padding-xl: 20px;
  --padding-151xl-9: 170.9px;
  --padding-32xl: 51px;
  --padding-53xl: 72px;
  --padding-60xl: 79px;
  --padding-27xl: 46px;
  --padding-5xs: 8px;
  --padding-9xs: 4px;
  --padding-56xl: 75px;
  --padding-50xl: 69px;
  --padding-47xl: 66px;
  --padding-82xl: 101px;
  --padding-15xl: 34px;
  --padding-100xl: 119px;
  --padding-112xl: 131px;
  --padding-10xl: 29px;
  --padding-18xl: 37px;
  --padding-40xl: 59px;
  --padding-13xl: 32px;
  --padding-4xs: 9px;
  --padding-6xl: 25px;
  --padding-20xl: 39px;
  --padding-158xl: 177px;
  --padding-30xl: 49px;
  --padding-28xl: 47px;
  --padding-88xl: 107px;
  --padding-54xl: 73px;
  --padding-21xl: 40px;
  --padding-34xl: 53px;
  --padding-7xl: 26px;
  --padding-26xl: 45px;
  --padding-96xl: 115px;
  --padding-43xl: 62px;
  --padding-37xl: 56px;
  --padding-12xs: 1px;
  --padding-14xl-5: 33.5px;
  --padding-3xl: 22px;
  --padding-2xl: 21px;
  --padding-smi: 13px;
  --padding-9xs-9: 3.9px;
  --padding-9xs-5: 3.5px;
  --padding-2xs: 11px;
  --padding-8xs-8: 4.8px;
  --padding-11xl: 30px;
  --padding-31xl: 50px;
  --padding-58xl: 77px;
  --padding-61xl: 80px;
  --padding-90xl: 109px;
  --padding-78xl: 97px;
  --padding-6xs: 7px;
  --padding-12xs-3: 0.3px;
  --padding-base-4: 16.4px;
  --padding-12xl: 31px;
  --padding-xs: 12px;
  --padding-5xl: 24px;
  --padding-24xl: 43px;
  --padding-mini: 15px;
  --padding-3xs: 10px;
  --padding-8xs: 5px;
  --padding-8xl: 27px;
  --padding-14xl: 33px;
  --padding-114xl: 133px;
  --padding-11xs-3: 1.3px;
  --padding-48xl: 67px;
  --padding-7xs: 6px;
  --padding-150xl-8: 169.8px;

  /* Border radiuses */
  --br-198xl: 217px;
  --br-81xl: 100px;
  --br-lg-6: 18.6px;
  --br-11xl: 30px;
  --br-mini: 15px;
  --br-5xl: 24px;
  --br-3xs: 10px;
  --br-9xs: 4px;
  --br-5xs: 8px;
}
